@page "/user-created/admin"
@inject NavigationManager _navigationManager

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/images/8lzr3r.jpg" style="max-height:20rem" />
                </div>
                <div class="text-center mt-2">
                    <span class="text-success fw-bolder">A new Admin user is created. You can now login.</span>
                </div>
                <div class="text-center mt-3">
                    <a href="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext?.User?.Identity?.IsAuthenticated is true)
        {
            _navigationManager.NavigateTo("/");
        }
    }
}
