@page "/access-denied"

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/images/you-get-deniedyou.jpg" style="max-height:20rem" />
                </div>
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">You don't have permission to access this page.<br />Contact an administrator.</span>
                </div>
            </div>
        </div>
    </div>
</div>